{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Create Corporation
{% endblock title %}
{% block content %}
  <h1>Create Corporation</h1>
  <form method="post" action="{% url 'corporations:create-corp' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}